.formRow {
//nerqevin@ nsh. e ete ka grac naev checkoutInput class apa ayd dzevov
//anel css-@
  input, 
  &.checkoutInput select {
      display: block;
      width: 100%;
      font-size: 1.5rem;
      padding:10px 5px;
      margin: 10px auto;
      border: 1px solid #9e9e9e;
      text-align: left;
      outline: none;
  }



}