.btn {
    display: block;
    width: 100%;
    background: black;
    font-size: 1.8rem;
    margin: 0 auto;
    padding:  1.0rem;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    border: 0;
    outline: none;
  cursor: pointer;


}